<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
	<title>新闻列表页</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
<!--导航-->
	<nav class="navbar navbar-default ">
		<div class="container">
			<!--小屏幕导航按钮和logo-->
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-brand">NLTK新闻聚合系统</a>
			</div>
			<!--小屏幕导航按钮和logo-->
			<!--导航-->
			<div class="navbar-collapse collapse ">
				<ul class="nav navbar-nav navbar-center">
					<li><a href="index.html">首页</a></li>
					<li class="dropdown text-center">
						<a href="index.html" class="dropdown-toggle " data-toggle="dropdown">院校动态<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="text-center"><a href="">武汉大学</a></li>
							<li class="text-center"><a href="">北京大学</a></li>
							<li class="text-center"><a href="">南京大学</a></li>
							<li class="text-center"><a href="">中山大学</a></li>
						</ul>
					</li>
					<li class="text-center"><a href="index.html">推荐关键字</a></li>
					<li class="text-center"><a href="index.html">自主检索</a></li>
					<li class="text-center"><a href="index.html">网站公告</a></li>
					<li class="text-center"><a href="index.html">登录</a></li>
				</ul>
				<!-- 搜索 -->
				<form action="" class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control"  placeholder="搜索"/>
					</div>
					<button class="btn btn-default">搜索</button>
				</form>
			</div>
			<!--导航-->
		</div>
	</nav>
	<!--导航-->	
	<!-- 面包屑开始 -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="">首页</a></li>
			<li><a href="">院校动态</a></li>
			<li><a href="">武汉大学</a></li>
			<li class="active"><a href="">关于举办互联网加大赛的通知</a></li>
		</ol>	
	</div>	
	<!-- 面包屑结束 -->
	<!-- 主体开始 -->
	<div class="container">
		<div class="row">
			<!-- 左侧列表显示开始 -->
			<div class="col-md-3">
				<div class="panel panel-default text-center">
					<div class="panel-heading panel-info">本篇文章关键字</div>
					<div class="panel-body panel-primary">
						大学 互联网加
					</div>
				</div>
				 <div class="panel panel-default text-center">
					<div class="panel-heading panel-info">相似文章推荐</div>
					 <ul class="list-group">
					<li class="list-group-item">
						<a href="index.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;关于我校举办互联网+大赛的通知</a>
					</li>
					<li class="list-group-item">
						<a href="index.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;关于我校举办互联网+大赛的通知</a>
					 </li>
					<li class="list-group-item">
						<a href="index.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;关于我校举办互联网+大赛的通知</a>
					</li>
					 </ul>
				</div>				
			</div>
			<!-- 左侧列表显示结束 -->
			<!-- 右侧列表显示开始 -->
			<div class="col-md-9">
				 <div class="panel panel-default text-center">
					<div class="panel-heading">
						<h4>关于举办互联网加大赛的通知</h4>
						<span>2017-7-7日发布  545阅读量 </span>
					</div>
					 <div class="panel-heading">
					 <div id="article_content">
		    	信息管理学院特色课程进校园 信息素养应从小培养
    日期：2017-07-12 22:07:55作者：宋吉字号：【大】【中】【小】

    （通讯员 宋吉） 7月10日上午，华中师范大学信息管理学院“花开心间，香漫江山”支教调研队第一堂信息素养课顺利开展，孩子们在老师生动的讲解中对信息这一概念有了全新的认识；在欢乐的游戏中，初步形成了自己的信息意识与信息素养。 


信息素养课是本次支教实践队员们结合学院专业特色，顺应信息时代背景，开设的一门素质拓展课程，旨在以主讲老师的讲解为主，辅以简单且富有趣味性的游戏，从小培养孩子们的个人信息保护意识，有效信息获取意识，不良信息规避意识，冗余信息筛选意识等综合信息管理能力，从而全面提升自我，更好的走向社会，服务社会。 
 

  
 
第一部分，由主讲人刘思岩向孩子们介绍“信息”。考虑到孩子们多为一、二年级，认知能力并不完善，刘思岩采用多图片，多举例，多比喻的方式代替传统照本宣科的介绍模式，一步一步引入信息的概念、实例和作用，并鼓励孩子们说一说自己理解的信息，孩子们热情很高，十分活跃。生动的教学方式与有趣的内容一下子消除了孩子们与“信息”的距离感，让孩子们对信息有了一个较为完整的初步认识，为第二部分的课程游戏和接下来的课程打下了基础。


   

   
   
第二部分，孩子们被分成六组，分别由一名实践队员主持进行“你说我猜”的游戏。在队员们的示范下，孩子们很快熟悉了游戏规则，轮流描述对象的特征信息，结合所给提示进行联想，猜出描述对象，欢笑声此起彼伏；与此同时，实践队员们认真记录下孩子们所描述的信息，发现其中的可取之处和存在的问题，为学生个性化信息素养培养方案提供了依据。


   
最后，在各位队员的努力下，大多数孩子学会了如何描述信息，如何获取信息，结合信息作出合理联想，但仍有小部分孩子对本次信息素养课部分内容的理解有一定困难。在总结会议上，队长刘思岩指出，信息素养对孩子们来说是一个比较陌生的存在，在接下来的课程中，大家也一定要注意授课方式和内容的趣味性，同时也要做好孩子们描述信息的方式等细节记录，更好地培养孩子们的信息素养。
   
 
 
 

        上一篇文章：信管暑期支教实践队成功举办信息素养讲座
        下一篇文章：信管暑期支教实践队首次家访 与家长共商孩子教育		    	</div>
					 </div>
				</div>			
			</div>
			<!-- 右侧列表显示结束 -->

		</div>
	</div>
	<!-- 主体结束 -->
<!-- 底部开始 -->
	<footer class="container">
		<nav class="nav navbar text-center">
			<ul class="nav center-block">
				<li class="text-center col-xs-3"><a href="">关于我们</a></li>
				<li class="text-center col-xs-3"><a href="">网站地图</a></li>
				<li class="text-center col-xs-3"><a href="">网站公告</a></li>
				<li class="text-center col-xs-3"><a href="">联系我们</a></li>
			</ul>
		</nav>
<!-- 		<div class="row">
            <ul class="nav nav-pills col-md-offset-5">
                <li><a href="">关于我们</a></li>
                <li><a href="#">网站地图</a></li>
                <li><a href="#">联系我们</a></li>
	       <li><a href="#">站点地图</a></li>
            </ul>
        </div>  -->
		<!-- <hr /> -->
		<div class="text-center"><h4>@copyrirht华中师范大学信息管理学院啄木鸟团队</h4></div>
	</footer>
	<!-- 底部结束 -->
</body>
</html>