<div class="row">
	<!-- 左侧列表显示开始 -->
	<div class="col-md-3">
		 <div class="panel panel-default text-center">
			 <ul class="list-group">
				<li class="list-group-item active">
					<a href="index.html">武汉大学</a>
				 </li>
				<li class="list-group-item">
					<a href="index.html">武汉大学</a>
				 </li>
				<li class="list-group-item">
					<a href="index.html">武汉大学</a>
				 </li>
			 </ul>
		</div>				
	</div>
	<!-- 左侧列表显示结束 -->
	<!-- 右侧列表显示开始 -->
	<div class="col-md-9">
		 <div class="panel panel-default">
			<div class="panel-heading">{{}}<a href=""><small class="pull-right">查看更多</small></a></div>
			<ul class="list-group">
				<li class="list-group-item">
					<a href="index.html"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;关于我校举办互联网+大赛的通知<small class="pull-right">2017/7/7</small></a>
				 </li>
			 </ul>
		</div>	
	